@media (max-width: 1400px) { //1200
  .profit {
    &__img {
      img {
        transform: translate(-90%, 0px);
      }
    }
  }
}

@media (max-width: 1200px) { //992
  .education-header__img {
    display: flex!important;
  }
  .shopify-header__img {
    display: flex!important;
  }
  .list {
    &__title {
      font-size: 44px;
      line-height: 53px;
    }
  }
  .list {
    &__items {
      ul {
        width: 500px;
      }
    }
  }
  .nav {
    &__btn {
      padding: 10px 12px;
      font-size: 15px;
    }
    &__list {
      &__item {
        a {
          font-size: 14px;
        }
      }
    }
  }
  .header {
    &__title {
      margin-top: 38px;
      font-size: 42px;
      line-height: 51px;
    }
    &__descr {
      font-size: 15px;
    }
  }
  .btn {
    font-size: 15px;
    width: 220px !important;
    height: 60px !important;
  }
  .union-h-r-1 {
    display: none;
  }
  .profit {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__img {
      display: none;
    }
  }
  .create {
    &__wrap {
      justify-content: space-around;
    }
  }
  .create {
    &-trial {
      &__title {
        font-size: 20px;
        span {
          font-size: 40px;
        }
      }
    }
  }
  .target {
    &-card {
      padding: 35px;
      &__content {
        margin-right: 20px;
      }
    }
  }
  .video {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    &__body {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__image {
      margin-top: 50px;
      img {
        transform: translate(0, 0);
      }
    }
  }
  .footer {
    &__list {
      &__item {
        &__link {
          margin-right: 80px;
          margin-bottom: 40px;
          font-size: 14px;      
        }
      }
    }
  }
  .why-stripe {
    background-size: cover;
    &__block {
      margin-top: 33px;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 41px 190px 40px 42px;
      .why-stripe__block__body {
        margin-left: 37px;
        p {
          max-width: 776px;
        }
      }
      &-wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
  .claim {
    margin-bottom: 100px;
    &__title {
      font-size: 42px;
      line-height: 51px;
    }
    &__wrap {
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
    &-card {
      margin-bottom: 25px;
    }
  }
  .money {
    &__wrap {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    &__text {
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 992px) { //768 
  .list {
    &__title {
      font-size: 33px;
      line-height: 46px;
    }
    &__items {  
      ul {
        width: 390px;
      }
    }
  }
  .bonus {
    &-card {
      font-size: 14px;
    }
  }
  
  .elipse-top-bottom {
    display: none;
  }
  .elipse-33 {
    display: none;
  }
  .nav {
    &__btn {
      padding: 9px 10px;
      font-size: 14px;
    }
    &__list {
      &__item {
        margin-right: 20px;
        a {
          font-size: 12px;
        }
      }
    }
  }
  .header {
    &__img {
      display: none;
    }
    &__title {
      font-size: 35px;
      line-height: 41px;  
    }
    &__descr {
      p {
        max-width: 565px;
      }
    }
  }
  .elipse-h-r-3 {
    display: none;
  }
  .btn {
    width: 207px;
    height: 55px;
    font-size: 14px;
    &:before {
      height: 22px;
    }
  }
  .profit {

  }
  .create {
    margin-top: -300px;
    &__title {
      padding-top: 561px;
    }
    &__wrap {
      margin-bottom: 400px;
    }
    &-trial {
      &-1 {
        transform: translateY(-360px);
      }
      &__title {
        span {
          font-size: 34px;
          margin-top: 10px;
        }
      }
    }
  }
  .target {
    &__wrap {
      margin-bottom: 0px;
    }
    margin-top: -300px;
    &-card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .video {
    &__image {
      max-width: 100%;
      img {
        max-width: 80%;
      }
    }
  }
  .graf {
    &__wrap {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
  }
  &__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}
  .accordion {
    &__item {
      width: 670px;
    }
  }
  .footer {
    &__list {
      &__item {
        &__link {
          margin-right: 40px;
          margin-bottom: 35px;
          font-size: 14px;
        }
      }
    }
  }
  .why-stripe {
    margin-top: 100px;
    &-card {
      &__wrap {
        margin-top: -52px;
      }
    }
    &__title {
      font-size: 35px;
      line-height: 41px; 
    }
    &__block {
      padding: 41px 30px 40px 42px;
    }
  }
  .tarif-card {
    min-height: 354px;
    min-width: 390px;
    &__title {
      font-size: 29px;
      line-height: 26px;
    }
    &__descr {
      max-height: 20px;
    }
    &__price {
      font-size: 36px;
    }
    &__btn {
      margin-top: 15px;
    }
  }
  .claim {
    margin-top: 0;
    &__title {
      font-size: 31px;
      line-height: 36px;
    }
  }
  .money {
    &__title {
      font-size: 32px;
      line-height: 36px;
    }
  }
  .request {
    &:after {
      top: -20px;
    }
    &__title {
      max-height: 130px;
      font-size: 30px;
      line-height: 116.1%;  
    }
  }
}
@media (max-width: 768px) { //576 
  .tarif {
    &__wrap {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    &__text {
      margin-top: 20px;
      text-align: center;
      margin-right: 0;
    }
  }
  .list {
    &__items {
      ul {
        max-width: 100%;
        width: 100%;
      }
    }
    &__title {
      &-wrap {
        position: relative;
        margin-bottom: 50px;
      }
    }
    &__wrap {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .nav {
    &__list {
      display: none;
    }
    &__btn {
      display: none;
    }
  }
  .toggle {
    display: block;
  }
  .union-h-l-2 {
    display: none;
  }
  .header {
    margin-bottom: 80px;
    &__btn {
      width: 100%;
      margin-bottom: 35px;
    }
    &__img {
      margin-top: 32px;
    }
  }
  .btn-log {
    &:after {
      filter: blur(18px);
    }
  }
  .profit {
    &__title {
      font-size: 34px;
      line-height: 47px;
    }
    &__body {
      width: 100%;
    }
    &__wrap {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__card {
      &-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .profit__col-1 {
    margin-right: 0px;
  } 
  .profit__col-2 {
    margin-top: 0;
  }
  .create {
    &__title {
      font-size: 34px;
      line-height: 47px;
      padding-top: 511px;
    }
    &__wrap {
      margin-top: 40px;
    }
    &-trial {
      height: 321px;
      width: 100%;
      padding: 36px 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__title {
        font-size: 22px;
        margin-bottom: 50px;
        width: 231px;
        line-height: 30px;
        text-align: center;
        span {
          margin-top: 40px;
          font-size: 41px;
        }
      }
    }
  }
  .target {
    &__title {
      font-size: 34px;
      line-height: 47px;
    }
    &__descr {
      p {
        width: 496px;
      }
    }
    &__subtitle {
      p {
        width: 483px;
      }
    }
  &-card {
    &__image {
      img {
        max-width: 100%;
      }
    }
  }
  }
  .target-card__wrap {
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    div {
      width: 100%;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .video {
    &__title {
      font-size: 34px;
      line-height: 47px;
    }
  }
  .graf {
    &__wrap {
      margin-bottom: 0;
    }
    &__title {
      font-size: 34px;
      line-height: 47px;
    }
    &__img {
      display: none;
    }
  }
  .question {
    &__title {
      font-size: 34px;
      line-height: 47px;
      margin-bottom: 40px;
    }
  }
  .accordion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__item {
      width: 100%;
    }
    &__header {
      font-size: 14px;
      padding-right: 25px;
    }
    &__body {
      font-size: 14px;
      p {
        max-width: 95%;
      }
    }
  }
  .footer {
    &__wrap {
      flex-wrap: wrap;
    }
    &__list {
      flex-wrap: wrap;
      justify-content: space-around;
      &__item {
        margin-top: 20px;
      }
    }
    &__social {
      width: 100%;
      margin-top: 60px;
      margin-left: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  .why-stripe {
    &__block {
      padding: 15px 25px 22px 32px;
      &__body {
        font-size: 16px;
        margin-left: 30px;
      }
    }
    &__title {
      margin-top: 45px;
      font-size: 34px;
      line-height: 47px;
    }
  }
  .money {
    &__image {
      img {
        max-width: 80%;
      }
    }
  }
  .request {
    &:after {
      display: none;
    }
  }
}

@media (max-width: 576px)  { //320
  .elipse-h-l-4  {
    display: none;
  }
  .elipse-h-r-1 {
    display: none;
  }
  .elipse-h-r-2, .elipse-h-l-5 {
    display: none;
  }
  .header {
    margin-bottom: 70px;
    &__title {
      font-size: 24px;
      line-height: 126.1%;
      margin-top: 50px;
    }
    &__descr {
      margin-top: 30px;
      font-size: 14px;
      line-height: 134.6%;
      p {
        max-width: 328px;
      }
    }
    &__img {
      height: 192px;
    }
  }
  .btn-width {
    font-size: 16px!important;
    width: 100%!important;
    height: 68px!important;
    display: flex;
  }
  .header {
    margin-bottom: 78px;
}
  .profit {
    &__title {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 35px;
    }
    &__btn {
      &-wrap {
        margin-top: 38px;
      }
    }
  }
  .create {
    &__title {
      font-size: 24px;
      line-height: 33px;
      br {
        display: none;
      }
    }
    &-card {
      padding: 34px 14px 35px 29px;
      width: 100%;
      &__title {
        font-size: 16px;
        line-height: 22px;
      }
      &__descr {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
  .create-trial-1 {
    transform: translateY(-412px);
  }
  .create {
    &-trial {
      &__title {
        span {
          line-height: initial;
        }
      }
    }
  }
  .target {
    &__title {
      font-size: 24px;
      line-height: 33px;
    }
    &__descr {
      margin-bottom: 35px;
      font-size: 14px;
      line-height: 134.6%;
      p {
        width: 297px;
      }
    }
    &__subtitle {
      font-size: 16px;
      line-height: 22px;
      p {
        max-width: 290px;
      }
    }
    &__btn {  
      font-size: 16px;
      line-height: 19px;
      height: 68px!important;
      &-1 {
        margin-right: 8px;
        width: 130px!important;
      }
      &-2 {
        width: 130px!important;
      }
    }
    &-buttons {
      margin-bottom: 35px;
    }
  }
  .btn-log {
    &:after {
      height: 10px;
    }
  }
  .target {
    &-card {
      padding: 15px 10px 25px 10px;
      &__content {
        margin-right: 0px;
      }
      &__image {
        img {
          max-width: 100%;
        }
      }
      &__sub {
        margin-top: 30px;
        font-size: 12px;
        line-height: 134.6%;
      }
      &__box {
        padding: 20px 11px 19px 18px;
        &__descr {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  .video {
    padding-bottom: 78px;
    flex-direction: column-reverse!important;
    &__image {
      margin-top: 70px;
    }
    &__title {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 20px;
    }
    &__descr {
      font-size: 14px;
      line-height: 134.6%;
      margin-bottom: 20px;
    }
    &__body {
      margin-top: -40px;
    }
  }
  .graf {
    &__wrap {
      flex-direction: column;
    }
    &__img {
      display: block;
      margin-bottom: 33px;
      img {
        max-width: 100%;
      }
    }
    &__title {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 20px;
    }
    &__descr {
      font-size: 14px;
      line-height: 134.6%;
      margin-bottom: 15px;
    }
    &__text {
      margin-bottom: 10px;
    }
  }
  .question {
    margin-top: 68px;
    &__title {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 35px;
    }
  }
  .accordion {
    &__header {
      padding: 15px 85px 15px 23px;
      font-size: 14px;
      line-height: 19px;
      height: 98px;
    }
    &__body {
      padding-left: 23px;
      padding-right: 18px;
      font-size: 14px;
      line-height: 19px;
    }
  }
  .question {
    &__text {
      margin-top: 38px;
    }
    &__btn {
      &-wrap {
        margin-top: 32px;
      }
    }
  }
  .footer {
    margin-top: -100px;
    &__wrap {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          margin: 0;
          margin-bottom: 20px;
        }
      }
      &-wrap {
        justify-content: center;
        align-items: center;
      }
    }
    &__social {
      justify-content: space-around;
      margin-top: 70px;
    }
    &__rig {
      margin-top: 61px;
      font-size: 12px;
      line-height: 14px;
      padding-bottom: 10px;
    }
  }
  .why-stripe {
    &__block {
      &__top {
        display: none;
      }
    }
  }
  .why-stripe__block .why-stripe__block__body {
    margin-left: 0px;
  }
  .claim {
    margin-bottom: 50px;
    &__title {
      font-size: 27px;
      line-height: 33px;
    }
    &-card {
      &__descr {
        font-size: 17px;
        p {
          max-width: 207px;
        }
      }
    }
  }
  .request {
    &__title {
      max-height: 210px;
      font-size: 24px;
      line-height: 116.1%;
    }
  }
  .tarif {
    &-card {
      padding: 25px 0px 25px 0px!important;
      min-width: 290px!important;
      &__title {
        font-size: 25px;
      }
      &__education {
        min-height: 353px !important;
      }
    }
  }
  .list {
    margin-top: 55px;
    &__items {
      &__item {
        span {
          display: none;
        }
      }

    }
  }
  .bonus {
    &__title {
      font-size: 25px;
      line-height: 124.1%;
    }
    &-card {
      margin-right: 0;
      margin-bottom: 10px;
      &__wrap {
        flex-wrap: wrap;
      }
    }
  }
}