* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Manrope', Helvetica, sans-serif;
  margin: 0;
  background: linear-gradient(180deg, #F4F5F9 0%, rgba(242, 242, 255, 0.78) 0.01%, #F4F5F9 100%);
}
*,*::before,*::after {
  box-sizing: border-box;

}
a {
  &:hover {
    text-decoration: none;
  }
}
ul {
  margin: 0px;
}
:focus,:active {
  outline: none;
}
a:focus,a:active {
  outline: none;
}
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 0 1200px auto;
}
.btn {
  width: 237px;
  height: 68px;
  box-sizing: border-box;
}
.btn-log {
    background: #713BDB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;
    height: 68px;
    box-sizing: border-box;
    border-radius: 100px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    position: relative;
    &:after {
      content: '';
      background: #713BDB;
      opacity: 0.7;
      -webkit-filter: blur(60px);
      filter: blur(42px);
      border-radius: 100px;
      position: absolute;
      bottom: -17px;
      width: 100%;
      height: 32px;
      left: 0;
    }
}
.elipse-h-r-1 {
  position: absolute;
  top: 145px;
  right: 0;
}
.elipse-h-r-2 {
  position: absolute;
  top: 350px;
  right: 0;
  z-index: -2;
}
.elipse-h-r-3 {
  position: absolute;
  right: 150px;
  top: 25px;
}
.union-h-r-1 {
  position: absolute;
  right: 110px;
  top: 400px;
}
.union-h-l-2 {
  position: absolute;
  left: 106px;
  top: 110px;
}
.elipse-h-l-4 {
  position: absolute;
  top: 340px;
  left: 0;
}
.elipse-h-l-5 {
  position: absolute;
  z-index: -2;
  bottom: 30px;
  left: 0;
}

.profit__union-l {
  position: absolute;
  left: 100px;
  top: 85px;
}
.profit__elipse-r {
  position: absolute;
  right: 65px;
  bottom: -40px;
}
.elipse-33 {
  position: absolute;
  bottom: -500px;
  left: 0;
}

.elipse-top {
  animation: elipse-top 16s infinite;
}
.union-rotate {
  animation: union-rotate 15s infinite ease-in-out;
}
.union-rotate_back {
  animation: union-rotate-back 9s infinite ease-in-out;
}
.elipse-top-bottom {
  animation: elipse-top-bottom 17s infinite ease-in-out;
}
.pulse {
  animation: pulse 18s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes union-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes union-rotate-back {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes elipse-top {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateX(0px);
  }
  40%{
    transform: translateX(30px);
  }
  50% {
    transform: translateY(50px);
  }
  90% {
    transform: translateX(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes elipse-top-bottom {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
.nav-menu {
  display: none;
  &__list {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    list-style-type: none;
  }
}
.toggle {
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;
  display: none;
  span {
    height: 3px;
    width: 100%;
    background: #000;
    display: block;
    position: absolute;
  }
  &-1 {
    top: 0;
    left: 0;
  }
  &-2 {
    top: 50%;
    transform: translateY(-1.5px);
    left: 0;
  }
  &-3 {
    bottom: 0;
    left: 0;
  }
}
.btn-width {
  height: 68px;
  display: none;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  margin-top: -10px;
}



@import '../sass/block/button';
@import '../sass/block/footer';
@import '../sass/block/header';
@import '../sass/block/profit';
@import '../sass/block/create';
@import '../sass/block/target';
@import '../sass/block/video';
@import '../sass/block/graf';
@import '../sass/block/question';


@import '../sass/base/media';