* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Manrope', Helvetica, sans-serif;
  margin: 0;
  background: linear-gradient(180deg, #F4F5F9 0%, rgba(242, 242, 255, 0.78) 0.01%, #F4F5F9 100%);
}
*,*::before,*::after {
  box-sizing: border-box;

}
a {
  &:hover {
    text-decoration: none;
  }
}
ul {
  margin: 0px;
}
:focus,:active {
  outline: none;
}
a:focus,a:active {
  outline: none;
}
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 0 1200px auto;
}
.btn {

}
.btn-log {
    background: #713BDB;
    border-radius: 100px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 25px 62px;
    position: relative;
    &:after {
      content: '';
      background: #713BDB;
      opacity: 0.3;
      filter: blur(60px);
      border-radius: 100px;
      position: absolute;
      bottom: -17px;
      width: 100%;
      height: 100%;
      left: 0;
      border-radius: 100px;
    }
}
@import '../sass/block/button';
@import '../sass/block/footer';
@import '../sass/block/header';
@import '../sass/block/profit';
@import '../sass/block/create';