
.claim {
  margin-top: 95px;
  margin-bottom: 178px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
  }
  &__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
    text-align: center;
    color: #000000;
  }
  &-card {
    background: #FFFFFF;
    border-radius: 15px;
    min-height: 290px;
    width: 350px;
    display: flex;
    padding-top: 30px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: .4s all;
    &:hover {
      transform: translateY(-23px);
    }
    &__title {
      font-weight: 800;
      font-size: 62px;
      line-height: 126.1%;
      color: #713BDB;
    }
    &__descr {
      margin-top: 25px;
      font-weight: 500;
      font-size: 18px;
      line-height: 126.1%;
      color: #000000;
      p {
        max-width: 287px;
      }
    }
  }
}